@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.body-container {
  background: url('ge-bg.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  display: flex;
  align-items: center;
}

.form-control {
  background-color: #fff;
  color: #000;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
}

.user-card-container{
  margin-top: 80px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
  display: flex;
}

.user-card-container a{
  text-decoration: none;
  color: rgb(189, 192, 215);
}

.user-card-container a:hover{
  color: rgb(27, 29, 46);
}

.user-pfp {
  height: 200px;
  margin-right: 15px;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info h1{
  margin-bottom: 40px;
}